[Desktop Entry]
Type=Application
Name=Ledgera
Comment=Ledgera personal finance desktop app
Exec=finaccountingapp
Icon=finaccountingapp
Terminal=false
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=Ledgera
