[Desktop Entry]
Type=Application
Name=Ledgera
Comment=Ledgera personal finance desktop app
Exec=FinAccountingApp
Icon=FinAccountingApp
Terminal=false
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=Ledgera
