[Desktop Entry]
Type=Application
Name=Ledgera
Comment=Ledgera personal finance desktop app
Exec=ledgera
Icon=ledgera
Terminal=false
Categories=Office;Finance;
StartupNotify=true
StartupWMClass=Ledgera
